{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
<div class="row">
  <p>Hello{% if request.user.is_authenticated %} {{ request.user.username }}{% endif %},</p>
</div>
<div class="row">
  <p>We ar passionate developers. Welcome to our quiz website!</p>
</div>
<div class="row">
  <p>Here, students have the opportunity to contribute their own questions and challenge other students. I believe that learning is not limited to textbooks, and by creating this platform, we aim to foster a collaborative and engaging environment for students to expand their knowledge. With the ability to add questions and participate in quizzes, students can actively participate in the learning process and test their understanding of various subjects.</p>
</div>
<div class="row">
  <p>Join us on this exciting journey of exploration and let's enhance our knowledge together.
     Feel free to reach out to us on our GitHub profiles at <a href="https://github.com/Mu-Gee">James</a> and <a href="https://github.com/Ndegwadavid">David</a> for any suggestions or feedback.
  </p>
  <p>
    This is an Open Source Project.
    Source Code is available <a href="https://github.com/Mu-Gee/quizapp">here</a>.
  </p>
  <p>Happy quizzing!</p>
</div>
<div class="row">
  <p>~<em>James</em></p>
  <p>~<em>David</em></p>
</div>
</div>
{% endblock %}
